/**
 *  Global
 */
/**
 *  Bebas Neue
 */
@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  src: url("../fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}

/**
 *  Roboto
 */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

body {
  font-family: 'Roboto', sans-serif;
}

/**
 *  Partials
 */
.header-nav-holder nav {
  max-width: fit-content;
  max-width: -moz-max-content;
  max-width: -webkit-fit-content;
}

.header-nav-holder nav ul li.menu-order {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.header-nav-holder nav ul li.menu-order a {
  background-color: #f15748;
  height: 34px;
  line-height: 34px;
  color: #fff;
  position: relative;
  padding-right: 30px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.header-nav-holder nav ul li.menu-order a:hover {
  background-color: #fb6659;
}

.header-nav-holder nav ul li.menu-order a:hover:after {
  right: 11px;
}

.header-nav-holder nav ul li.menu-order a:after {
  content: '';
  background-image: url("../assets/images/icons/arrow_white.svg");
  background-repeat: no-repeat;
  background-size: 7px;
  width: 7px;
  height: 10px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translate(0, -50%);
  transition: ease .3s;
}

.header-nav-holder nav ul li a {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
}

.header-nav-holder .nav-search-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 235px;
}

.header-nav-holder .nav-search-wrap #ruby-nav-search {
  display: none;
}

.header-nav-holder .nav-search-wrap .searchBar {
  max-width: 100%;
  margin: 0;
}

.header-nav-holder .nav-search-wrap .searchBar form {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.header-nav-holder .mobileSearch,
.header-nav-holder .mobileMenu {
  display: none;
}

#sticky-wrapper.ruby-is-stick .header-nav-holder .nav-search-wrap {
  height: 43px;
}

#sticky-wrapper.ruby-is-stick .main-nav-inner > li.menu-order {
  height: 42px;
}

@media (max-width: 991px) {
  .header-nav-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
  .header-nav-holder:before, .header-nav-holder:after,
  .header-nav-holder .nav-search-wrap,
  .header-nav-holder .off-canvas-btn-wrap {
    display: none !important;
  }
  .header-nav-holder .header-logo-mobile-wrap {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-nav-holder .mobileSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    width: 50px;
  }
  .header-nav-holder .mobileSearch img {
    width: 100%;
    max-width: 28px;
  }
  .header-nav-holder .mobileMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    width: 50px;
  }
  .header-nav-holder .mobileMenu.active img {
    display: none;
  }
  .header-nav-holder .mobileMenu.active img.close {
    display: block;
  }
  .header-nav-holder .mobileMenu img.close {
    display: none;
  }
  .header-outer {
    margin: 0;
  }
}

/**
 *  Mobile menu
 */
body.admin-bar .menuMobile {
  top: 92px;
  height: calc(100vh - 92px);
}

@media (max-width: 782px) {
  body.admin-bar .menuMobile {
    top: 106px;
    height: calc(100vh - 106px);
  }
}

#sticky-wrapper.ruby-is-stick .menuMobile {
  top: 60px !important;
}

.menuMobile {
  background: #fff;
  width: 100vw;
  height: calc(100vh - 60px);
  position: fixed;
  z-index: 999;
  top: 122px;
  right: -100vw;
  padding: 12px 13px;
  transition: ease 1s;
}

.menuMobile--active {
  right: 0;
}

@media (min-width: 992px) {
  .menuMobile {
    display: none !important;
  }
}

.menuMobile__search {
  max-width: 335px;
  width: 100%;
  margin: 0 auto 23px;
}

.menuMobile__menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuMobile__menu ul li {
  margin-bottom: 30px;
}

.menuMobile__menu ul li:last-of-type {
  margin-bottom: 0;
}

.menuMobile__menu ul li a {
  font-size: 21px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 700;
  height: auto;
}

.menuMobile__menu ul li.menu-order {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuMobile__menu ul li.menu-order a {
  background-color: #f15748;
  height: 50px;
  line-height: 50px;
  color: #fff;
  position: relative;
  padding-right: 30px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  min-width: 185px;
  text-align: center;
}

.menuMobile__menu ul li.menu-order a:hover {
  background-color: #fb6659;
}

.menuMobile__menu ul li.menu-order a:hover:after {
  right: 40px;
}

.menuMobile__menu ul li.menu-order a:after {
  content: '';
  background-image: url("../assets/images/icons/arrow_white.svg");
  background-repeat: no-repeat;
  background-size: 7px;
  width: 7px;
  height: 10px;
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translate(0, -50%);
  transition: ease .3s;
}

/**
 *  Search popup
 */
#ruby-banner-search-form .ruby-search {
  margin: 0 auto;
}

#ruby-banner-search-form .ruby-search .ruby-search-submit {
  height: 34px;
  width: 34px;
  line-height: 34px;
  font-size: 14px;
}

#ruby-banner-search-form .ruby-search .ruby-search-submit i {
  font-size: inherit;
}

#ruby-banner-search-form .ruby-search .ruby-search-input input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.mainAbout {
  background-color: #f7f7f7;
  padding: 20px 0;
}

.mainAbout__wrap {
  padding: 0 20px;
}

.mainAbout__wrap h2 {
  font-size: 36px;
  line-height: 46px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 10px;
  color: #000;
}

.mainAbout__wrap .content {
  max-width: 850px;
  margin: 0 auto;
}

.mainAbout__wrap .content p {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  text-align: center;
}

.mainAbout__wrap .content p a {
  color: #f15748;
  transition: ease .3s;
}

.mainAbout__wrap .content p a:hover {
  opacity: .7;
}

@media (max-width: 767px) {
  .mainAbout__wrap h2 {
    font-size: 28px;
    line-height: 34px;
  }
}

.siteFooter {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.siteFooter__wrap {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1190px;
  margin: 0 auto;
}

.siteFooter__logo {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  width: 305px;
}

.siteFooter__logo img {
  position: relative;
  max-width: 200px;
  width: 100%;
}

.siteFooter__menu {
  width: calc(100% - 305px);
  display: flex;
}

.siteFooter__menu .linksWrap {
  display: flex;
  justify-content: space-between;
  width: 432px;
}

.siteFooter__menu .linksWrap .links {
  width: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.siteFooter__menu .linksWrap .links li {
  line-height: 1;
  margin: 0 0 15px;
}

.siteFooter__menu .linksWrap .links li:last-of-type {
  margin: 0;
}

.siteFooter__menu .linksWrap .links li a {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: #000;
  transition: ease .3s;
}

.siteFooter__menu .linksWrap .links li a:hover {
  opacity: .6;
}

.siteFooter__menu .linksWrap .links li .flag {
  display: inline-block;
  background: #f15748;
  padding: 3px 6px 3px 7px;
  color: #fff;
  margin-left: 5px;
  pointer-events: none;
  font-size: 12px;
  font-weight: 700;
}

.siteFooter__menu .info {
  width: 210px;
}

.siteFooter__menu .info .logo {
  display: none;
}

.siteFooter__menu .info a {
  display: block;
  font-size: 14px;
  color: #f15748;
  font-weight: 600;
  transition: ease .3s;
  margin-bottom: 5px;
}

.siteFooter__menu .info a:hover {
  opacity: .6;
}

.siteFooter__menu .info .hours {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  margin: 10px 0 15px;
}

.siteFooter__menu .info .social {
  display: flex;
}

.siteFooter__menu .info .social a {
  transition: ease .3s;
}

.siteFooter__menu .info .social a:first-of-type {
  margin-right: 8px;
}

.siteFooter__menu .info .social a:hover {
  opacity: .5;
}

.siteFooter__menu .payment {
  width: 240px;
}

.siteFooter__menu .payment p {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin: 0 0 5px;
}

.siteFooter__menu .payment__list {
  display: flex;
  flex-wrap: wrap;
}

.siteFooter__menu .payment__list div {
  margin-right: 15px;
}

.siteFooter__menu .payment__list div:last-of-type {
  margin: 0;
}

.siteFooter__menu .payment__list div img {
  min-width: 32px;
}

.siteFooter .siteInfo {
  background-color: #454646;
  height: 75px;
}

.siteFooter .siteInfo__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  max-width: 1190px;
  margin: 0 auto;
}

.siteFooter .siteInfo__left .company {
  font-size: 10px;
  line-height: 14px;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.siteFooter .siteInfo__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.siteFooter .siteInfo__right a {
  margin-right: 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  transition: ease .3s;
}

.siteFooter .siteInfo__right a:hover {
  opacity: .7;
}

.siteFooter .siteInfo__right a:last-of-type {
  margin: 0;
}

@media (max-width: 1199px) {
  .siteFooter__wrap {
    max-width: 920px;
  }
  .siteFooter__logo {
    width: 230px;
  }
  .siteFooter__menu {
    width: calc(100% - 230px);
  }
  .siteFooter__menu .payment p {
    margin: 0 0 10px;
  }
  .siteFooter__menu .payment__list > div {
    margin-bottom: 15px;
  }
  .siteFooter .siteInfo__wrap {
    max-width: 920px;
  }
}

@media (max-width: 991px) {
  .siteFooter__wrap {
    max-width: 400px;
    width: 100%;
    padding: 30px 20px;
  }
  .siteFooter__logo {
    display: none;
  }
  .siteFooter__menu {
    flex-direction: column;
    width: 100%;
  }
  .siteFooter__menu .linksWrap {
    width: 100%;
  }
  .siteFooter__menu .linksWrap .links {
    width: 50%;
  }
  .siteFooter__menu .linksWrap .links li {
    text-align: center;
    position: relative;
  }
  .siteFooter__menu .linksWrap .links li .flag {
    position: absolute;
  }
  .siteFooter__menu .info {
    width: 100%;
    text-align: center;
    margin: 30px 0 20px;
  }
  .siteFooter__menu .info .logo {
    display: block;
    margin-bottom: 15px;
  }
  .siteFooter__menu .info .logo img {
    max-width: 122px;
    width: 100%;
  }
  .siteFooter__menu .info .hours {
    margin: 10px 0 26px;
  }
  .siteFooter__menu .info .social {
    justify-content: center;
  }
  .siteFooter__menu .payment {
    width: 100%;
  }
  .siteFooter__menu .payment p {
    text-align: center;
    margin: 0 0 10px;
  }
  .siteFooter__menu .payment__list {
    justify-content: center;
  }
  .siteFooter__menu .payment__list > div {
    margin-bottom: 0;
  }
  .siteFooter .siteInfo__wrap {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .siteFooter__menu .linksWrap .links li .flag {
    position: relative;
    display: block;
    max-width: fit-content;
    margin: 3px auto 0;
  }
  .siteFooter .siteInfo {
    height: auto;
  }
  .siteFooter .siteInfo__wrap {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  .siteFooter .siteInfo__left {
    width: 100%;
  }
  .siteFooter .siteInfo__left .company {
    text-align: center;
  }
  .siteFooter .siteInfo__right {
    justify-content: center;
    margin-bottom: 20px;
  }
  .siteFooter .siteInfo__right .rzetelna,
  .siteFooter .siteInfo__right .ue {
    display: none;
  }
}

.sidebar-wrap .block-title:after {
  height: 2px;
}

.sidebar-wrap .block-title h3 {
  font-size: 16px;
  line-height: 20px;
  color: #f15748;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}

.sidebar-wrap .sb-social-counter .counter-element {
  transition: ease .3s;
}

.sidebar-wrap .sb-social-counter .counter-element:hover {
  opacity: .7;
}

.sidebar-wrap .sb-social-counter .counter-element a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-wrap .sb-social-counter .counter-element a .counter-element-left {
  line-height: 1;
}

.sidebar-wrap .sb-social-counter .counter-element a .counter-element-left i {
  font-size: 20px;
  line-height: inherit;
}

.sidebar-wrap .sb-social-counter .counter-element a .counter-element-left .text-count {
  display: none !important;
}

.sidebar-wrap .sb-social-counter .counter-element a .counter-element-right {
  font-size: 16px;
  line-height: 1;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: normal;
}

.sidebar-wrap .sb-social-counter .counter-element.bg-facebook {
  background-color: #2374E1;
}

.sidebar-wrap .sb-social-counter .counter-element.bg-instagram {
  background: #515bd4;
  background: linear-gradient(159deg, #515bd4 0%, #8134af 3%, #dd2a7b 48%, #feda77 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#515bd4",endColorstr="#feda77",GradientType=1);
}

@media (max-width: 767px) {
  .sidebar-wrap .sb-widget-social-counter {
    margin: 0 0 20px;
  }
  .sidebar-wrap .sb-social-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-wrap .sb-social-counter .counter-element {
    width: calc(100% / 2 - 5px);
    margin: 0;
  }
}

.searchForm .ruby-search {
  max-width: 620px;
}

.searchForm .ruby-search .ruby-search-input input {
  height: 34px;
  padding: 0 30px 0 35px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1) !important;
  font-size: 14px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.searchForm .ruby-search .ruby-search-input input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-style: normal;
}

.searchForm .ruby-search .ruby-search-submit {
  height: 34px;
  width: 34px;
  line-height: 34px;
  left: 0;
}

body.search-no-results .search-page-header {
  display: none !important;
}

.singleNewsletter__content {
  max-width: 520px;
  margin: 0 auto 25px;
}

.singleNewsletter__content h2 {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin: 0 0 12px;
}

.singleNewsletter__content p {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.gsExpert {
  padding: 32px 0 40px;
}

.gsExpert__wrap {
  max-width: 955px;
  width: 100%;
  border: 1px solid #BCBCBB;
  padding: 40px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.gsExpert__image {
  width: 100%;
  max-width: 200px;
  margin-right: 25px;
  text-align: center;
}

.gsExpert__image img {
  padding: 11px;
  border: 2px solid #F7BE45;
  border-radius: 100%;
  margin: 0 auto 18px;
  min-width: 100%;
}

.gsExpert__image h4 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  text-align: center;
}

.gsExpert__image h4 a {
  font-weight: normal !important;
}

.gsExpert__content {
  max-width: calc(100% - 225px);
}

.gsExpert__content p {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  text-align: justify;
  margin: 0;
}

@media (max-width: 991px) {
  .gsExpert__wrap {
    padding: 25px;
  }
  .gsExpert__image {
    max-width: 160px;
    margin-right: 20px;
  }
  .gsExpert__image img {
    max-width: 100%;
    padding: 8px;
    margin: 0 auto 14px;
  }
  .gsExpert__content {
    max-width: calc(100% - 180px);
  }
  .gsExpert__content p {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .gsExpert__wrap {
    flex-direction: column;
    padding: 25px 10px;
  }
  .gsExpert__image {
    width: 100%;
    margin: 0 auto 20px;
  }
  .gsExpert__image img {
    display: block;
    margin: 0 auto 10px;
  }
  .gsExpert__content {
    width: 100%;
    max-width: calc(100% - 60px);
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .gsExpert__image {
    margin: 0 auto 15px;
  }
  .gsExpert__image img {
    max-width: 190px;
    margin: 0 auto 12px;
  }
  .gsExpert__content {
    max-width: calc(100% - 30px);
  }
  .gsExpert__content p {
    font-size: 14px;
    line-height: 19px;
  }
}

.product {
  padding: 20px 40px;
  margin: 20px 0;
}

.product__wrap {
  display: flex;
  align-items: center;
}

.product__image {
  width: 100%;
  max-width: 198px;
  margin-right: 64px;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__content h3 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 6px;
  max-width: fit-content;
  max-width: -moz-max-content;
  max-width: -webkit-fit-content;
  position: relative;
}

.product__content h3 span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.product__content h3 span.left {
  left: -20px;
}

.product__content h3 span.right {
  right: -20px;
}

.product__content div {
  margin: 0 0 12px;
}

.product__content div:last-of-type {
  margin: 0;
}

.product__content div p {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

.product__content .btn {
  width: 220px;
  height: 52px;
  margin: 20px 0 0;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}

.product__content .btn:hover span:after {
  right: -5px;
}

.product__content .btn span {
  font-size: 18px;
  padding-right: 20px;
  position: relative;
}

.product__content .btn span:after {
  content: '';
  background-image: url("../assets/images/icons/arrow_white.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  width: 10px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: ease .3s;
}

.product__cta {
  display: none;
  justify-content: center;
}

.product__cta .btn {
  width: 142px;
  height: 34px;
  margin: 10px 0 00;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}

.product__cta .btn:hover span:after {
  right: -5px;
}

.product__cta .btn span {
  font-size: 12px;
  padding-right: 15px;
  position: relative;
}

.product__cta .btn span:after {
  content: '';
  background-image: url("../assets/images/icons/arrow_white.svg");
  background-repeat: no-repeat;
  background-size: 7px;
  width: 7px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: ease .3s;
}

@media (max-width: 991px) {
  .product {
    padding: 15px 25px;
  }
  .product__image {
    max-width: 150px;
    margin-right: 40px;
  }
  .product__content {
    width: 100%;
    max-width: calc(100% - 190px);
  }
}

@media (max-width: 767px) {
  .product {
    padding: 15px 20px;
  }
  .product__image {
    max-width: 112px;
    margin-right: 30px;
  }
  .product__content {
    max-width: calc(100% - 142px);
  }
  .product__content h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .product__content h3 span {
    width: 6px;
    height: 6px;
  }
  .product__content h3 span.left {
    left: -15px;
  }
  .product__content h3 span.right {
    right: -15px;
  }
  .product__content div p {
    font-size: 12px;
    line-height: 16px;
  }
  .product__content .btn {
    display: none;
  }
  .product__cta {
    display: flex;
  }
}

@media (max-width: 380px) {
  .product {
    padding: 15px 10px;
  }
  .product__image {
    max-width: 95px;
    margin-right: 25px;
  }
  .product__content {
    max-width: calc(100% - 120px);
  }
}

.expertQuote {
  background-color: #f7bf451a;
  padding: 20px;
}

.expertQuote__quote {
  margin: 0 0 12px;
}

.expertQuote__quote p {
  font-size: 16px;
  line-height: 21px;
  font-style: italic;
  color: #000;
  margin: 0 0 20px;
}

.expertQuote__info {
  display: flex;
  align-items: center;
}

.expertQuote__info .image {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 1px solid #f7bf45;
  padding: 2px;
  margin-right: 16px;
}

.expertQuote__info .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.expertQuote__info .info {
  max-width: calc(100% - 106px);
}

.expertQuote__info .info p {
  font-size: 16px;
  line-height: 21px;
  color: #000;
  margin: 0;
}

.expertQuote__info .info p.name {
  font-weight: bold;
}

@media (max-width: 767px) {
  .expertQuote__quote p {
    font-size: 14px;
    line-height: 21px;
  }
  .expertQuote__info .info p {
    font-size: 14px;
    line-height: 21px;
  }
}

/**
 *  Subpages
 */
.ruby-slider-hw .post-slider-hw {
  height: 400px;
}

.ruby-slider-hw .post-slider-hw .post-header {
  max-width: 80%;
  margin: 0 auto 45px;
}

.ruby-slider-hw .post-slider-hw .post-header .post-cat-info a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: none;
  letter-spacing: normal;
}

.ruby-slider-hw .post-slider-hw .post-header .post-title a {
  font-size: 36px;
  line-height: 46px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: #fff;
}

.ruby-slider-hw .slick-dots {
  bottom: 20px;
}

.ruby-slider-hw .slick-dots li {
  opacity: 1 !important;
}

.ruby-slider-hw .slick-dots li:before {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: transparent !important;
  transition: ease .3s;
}

.ruby-slider-hw .slick-dots li.slick-active:before {
  background-color: #fff;
}

@media (max-width: 991px) {
  .ruby-slider-hw .ruby-slider-nav {
    display: none !important;
  }
}

@media (max-width: 479px) {
  .ruby-block-inner {
    padding: 0 !important;
  }
}

.ruby-slider-hw-nav .post-wrap .post-header .post-title {
  text-align: center;
  padding: 0 10px;
}

.ruby-slider-hw-nav .post-wrap .post-header .post-title a {
  font-size: 21px;
  line-height: 24px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  margin: 0;
  color: #000;
}

.ruby-slider-hw-nav .post-wrap .post-header .post-meta-info {
  display: none !important;
}

@media (max-width: 767px) {
  .ruby-slider-hw-nav {
    display: none;
  }
}

.block-header-wrap .block-title:after {
  height: 2px;
}

.block-header-wrap .block-title h3 {
  font-size: 16px;
  line-height: 20px;
  color: #f15748;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}

.block-header-wrap .block-view-more {
  display: none !important;
}

.block-content-wrap article .is-left-col,
.blog-content-wrap article .is-left-col {
  display: flex;
  width: 252px;
  min-height: 235px;
}

.block-content-wrap article .is-left-col .post-thumb,
.blog-content-wrap article .is-left-col .post-thumb {
  height: 100%;
}

.block-content-wrap article .is-left-col .post-thumb a span img,
.blog-content-wrap article .is-left-col .post-thumb a span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-content-wrap article .is-right-col,
.blog-content-wrap article .is-right-col {
  width: calc(100% - 272px);
  padding-left: 0 !important;
}

.block-content-wrap article .is-right-col .post-header .post-header-meta .post-cat-info a,
.blog-content-wrap article .is-right-col .post-header .post-header-meta .post-cat-info a {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000;
  text-transform: none;
  letter-spacing: normal;
}

.block-content-wrap article .is-right-col .post-header .post-header-meta .post-meta-info,
.blog-content-wrap article .is-right-col .post-header .post-header-meta .post-meta-info {
  display: none !important;
}

.block-content-wrap article .is-right-col .post-header .entry-header h3,
.blog-content-wrap article .is-right-col .post-header .entry-header h3 {
  line-height: 32px;
  margin: 0 0 8px;
}

.block-content-wrap article .is-right-col .post-header .entry-header h3 a,
.blog-content-wrap article .is-right-col .post-header .entry-header h3 a {
  font-size: 28px;
  line-height: inherit;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: #000;
}

.block-content-wrap article .is-right-col .post-excerpt p,
.blog-content-wrap article .is-right-col .post-excerpt p {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
}

.block-content-wrap article .is-right-col .article-footer .post-share-bar .post-share-bar-inner,
.blog-content-wrap article .is-right-col .article-footer .post-share-bar .post-share-bar-inner {
  border: 0;
}

.block-content-wrap article .is-right-col .article-footer .post-share-bar .post-share-bar-inner:before,
.blog-content-wrap article .is-right-col .article-footer .post-share-bar .post-share-bar-inner:before {
  content: '';
  background-image: url("../assets/images/icons/share_ico.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.block-content-wrap article .is-right-col .article-footer .post-share-bar .share-bar-total,
.blog-content-wrap article .is-right-col .article-footer .post-share-bar .share-bar-total {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: normal;
  opacity: 1 !important;
}

.block-content-wrap .moreButton .btn,
.blog-content-wrap .moreButton .btn {
  width: 100%;
  height: 50px;
  text-decoration: none !important;
}

.block-content-wrap .moreButton .btn span,
.blog-content-wrap .moreButton .btn span {
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1199px) {
  .block-content-wrap article .is-left-col {
    min-height: 0;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .block-content-wrap article .is-left-col {
    min-height: 0;
    height: 140px;
    width: 150px;
  }
  .block-content-wrap article .is-right-col {
    width: calc(100% - 170px);
  }
  .block-content-wrap article .is-right-col .post-header .post-header-meta .post-cat-info a {
    font-size: 12px;
    line-height: 14px;
  }
  .block-content-wrap article .is-right-col .post-header .entry-header h3 {
    line-height: 24px;
  }
  .block-content-wrap article .is-right-col .post-header .entry-header h3 a {
    font-size: 21px;
  }
  .block-content-wrap article .is-right-col .post-excerpt {
    display: none;
  }
  .block-content-wrap article .is-right-col .article-footer .post-share-bar .post-share-bar-inner:before {
    background-size: 28px;
    width: 28px;
    height: 28px;
  }
  .block-content-wrap .moreButton .btn {
    width: 100%;
    height: 40px;
    text-decoration: none !important;
  }
  .block-content-wrap .moreButton .btn span {
    font-size: 15px;
    line-height: 18px;
  }
}

.page404 {
  margin: 0 0 32px;
}

.page404 .page-404-content-wrap {
  margin: 0;
}

.page404 .page-404-content-wrap .page-404-content-header img {
  max-width: 196px;
  margin: 0 auto 30px;
}

.page404 .page-404-content-wrap .page-404-content-header h1 {
  font-size: 36px;
  line-height: 46px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin: 0 0 40px;
}

.page404 .page-404-content-wrap .btn {
  margin: 40px auto 0;
}

@media (max-width: 767px) {
  .page404 .page-404-content-wrap .page-404-content-header img {
    max-width: 115px;
  }
  .page404 .page-404-content-wrap .page-404-content-header h1 {
    font-size: 26px;
    line-height: 32px;
    max-width: 360px;
    margin: 0 auto 20px;
  }
  .page404 .page-404-content-wrap .btn {
    margin: 20px auto 0;
  }
}

body.single-post .single-header .post-cat-info a {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000;
}

body.single-post .single-header .entry-header h1 {
  font-size: 36px;
  line-height: 46px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  padding: 0 10px !important;
}

body.single-post .single-header .entry-header .post-heading-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 !important;
}

body.single-post .single-header .entry-header .post-heading-info .author-info {
  display: flex;
  align-items: center;
  background: unset !important;
  transition: ease .3s;
}

body.single-post .single-header .entry-header .post-heading-info .author-info:hover {
  opacity: .8;
}

body.single-post .single-header .entry-header .post-heading-info .author-info .image {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  padding: 1px;
  border: 2px solid #F7BE45;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.single-post .single-header .entry-header .post-heading-info .author-info .image img {
  border-radius: 100%;
}

body.single-post .single-header .entry-header .post-heading-info .author-info .info {
  width: 100%;
  max-width: calc(100% - 58px);
}

body.single-post .single-header .entry-header .post-heading-info .author-info .info p {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: none;
  font-weight: 400;
}

body.single-post .single-header .entry-header .post-heading-info .author-info .info p b {
  font-weight: 700;
}

body.single-post .single-header .entry-header .post-heading-info .post-info {
  display: flex;
  align-items: center;
}

body.single-post .single-header .entry-header .post-heading-info .post-info .read-time {
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;
}

body.single-post .single-header .entry-header .post-heading-info .post-info .read-time:before {
  content: '';
  background-image: url("../assets/images/single/time_ico.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  position: relative;
  display: block;
  margin-right: 10px;
}

body.single-post .single-header .entry-header .post-heading-info .post-info .read-time p {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: none;
  font-weight: 400;
}

body.single-post .single-header .entry-header .post-heading-info .post-info .update-date {
  display: flex;
  align-items: center;
  position: relative;
}

body.single-post .single-header .entry-header .post-heading-info .post-info .update-date:before {
  content: '';
  background-image: url("../assets/images/single/calendar_ico.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  position: relative;
  display: block;
  margin-right: 10px;
}

body.single-post .single-header .entry-header .post-heading-info .post-info .update-date p {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: none;
  font-weight: 400;
}

body.single-post .post-content {
  font-size: 16px;
  line-height: 24px;
}

body.single-post .post-content #ruby-table-contents {
  display: none !important;
}

body.single-post .post-content p a,
body.single-post .post-content li a,
body.single-post .post-content span a {
  color: #f15748 !important;
  transition: ease .3s;
}

body.single-post .post-content p a:hover,
body.single-post .post-content li a:hover,
body.single-post .post-content span a:hover {
  color: #fb6659 !important;
}

body.single-post .post-content h1,
body.single-post .post-content h2,
body.single-post .post-content h3,
body.single-post .post-content h4,
body.single-post .post-content h5,
body.single-post .post-content h6 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: #000;
}

@media (max-width: 1199px) {
  body.single-post .single-header .entry-header .post-heading-info .author-info .info p {
    font-size: 12px;
    line-height: 16px;
  }
  body.single-post .single-header .entry-header .post-heading-info .post-info .read-time p,
  body.single-post .single-header .entry-header .post-heading-info .post-info .update-date p {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 991px) {
  body.single-post .single-header .entry-header .post-heading-info {
    flex-direction: column;
  }
  body.single-post .single-header .entry-header .post-heading-info .author-info {
    width: 100%;
    margin: 0 0 15px;
    justify-content: center;
  }
  body.single-post .single-header .entry-header .post-heading-info .author-info .image {
    width: 58px;
    height: 58px;
  }
  body.single-post .single-header .entry-header .post-heading-info .author-info .info {
    width: auto;
    max-width: none;
  }
  body.single-post .single-header .entry-header .post-heading-info .post-info .read-time {
    margin-right: 20px;
  }
  body.single-post .single-header .entry-header .post-heading-info .post-info .read-time:before,
  body.single-post .single-header .entry-header .post-heading-info .post-info .update-date:before {
    background-size: 28px;
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }
  body.single-post .post-content > p {
    font-size: 14px;
    line-height: 24px;
  }
  body.single-post .post-content > ul li {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  body.single-post .single-header .entry-header .post-heading-info .author-info .info p {
    font-size: 10px;
    line-height: 14px;
  }
  body.single-post .single-header .entry-header .post-heading-info .post-info .read-time p,
  body.single-post .single-header .entry-header .post-heading-info .post-info .update-date p {
    font-size: 10px;
    line-height: 14px;
  }
}

#dpsp-content-bottom a {
  color: #fff !important;
}

/**
 * Single USP banner
 */
.psibufet-usp-banner {
  text-align: center;
  margin-top: 36px;
}

.psibufet-usp-banner img {
  width: 100%;
  max-width: 170px;
  margin: 0 0 15px;
}

.psibufet-usp-banner h3 {
  font-size: 54px;
  line-height: 67px;
  font-weight: 400;
  font-family: 'Bebas Neue', sans-serif;
  color: #000;
  margin: 0 0 25px;
  text-align: center;
}

.psibufet-usp-banner .usp {
  display: flex;
  justify-content: space-between;
}

.psibufet-usp-banner .usp__pos img {
  width: 100px;
  height: 100px;
  margin: 0 0 15px;
}

.psibufet-usp-banner .usp__pos p {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-align: center;
  margin: 0;
}

.psibufet-usp-banner .cta {
  margin: 30px 0 0;
}

.psibufet-usp-banner .cta .btn {
  margin: 0 auto;
}

@media (max-width: 991px) {
  .psibufet-usp-banner img {
    max-width: 130px;
  }
  .psibufet-usp-banner h3 {
    font-size: 40px;
    line-height: 54px;
  }
  .psibufet-usp-banner .usp__pos img {
    width: 75px;
    height: 75px;
  }
  .psibufet-usp-banner .usp__pos p {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .psibufet-usp-banner img {
    max-width: 70px;
    margin: 0 0 5px;
  }
  .psibufet-usp-banner h3 {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 15px;
  }
  .psibufet-usp-banner .usp {
    max-width: 320px;
    margin: 0 auto;
  }
  .psibufet-usp-banner .usp__pos:nth-child(2), .psibufet-usp-banner .usp__pos:nth-child(4) {
    display: none;
  }
  .psibufet-usp-banner .usp__pos img {
    height: 75px;
    margin: 0 0 10px;
  }
}

/**
 *  Letter selector
 */
.letterSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.letterSelector h4 {
  display: block;
  font-size: 60px;
  line-height: 1;
  cursor: pointer;
  transition: ease .3s;
  width: 100%;
  max-width: calc(100% / 14);
  margin: 0 0 15px;
  text-align: center;
}

.letterSelector h4:hover {
  opacity: .7;
}

@media (max-width: 575px) {
  .letterSelector h4 {
    font-size: 30px;
  }
}

@media (max-width: 1199px) {
  .blog-content-wrap article .is-left-col {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .blog-content-wrap article .is-left-col {
    min-height: 0;
    height: 140px;
    width: 150px;
  }
  .blog-content-wrap article .is-right-col {
    width: calc(100% - 170px);
  }
  .blog-content-wrap article .is-right-col .post-header .post-header-meta .post-cat-info a {
    font-size: 12px;
    line-height: 14px;
  }
  .blog-content-wrap article .is-right-col .post-header .entry-header h3 {
    line-height: 24px;
  }
  .blog-content-wrap article .is-right-col .post-header .entry-header h3 a {
    font-size: 21px;
  }
  .blog-content-wrap article .is-right-col .post-excerpt {
    display: none;
  }
  .blog-content-wrap article .is-right-col .article-footer .post-share-bar .post-share-bar-inner:before {
    background-size: 28px;
    width: 28px;
    height: 28px;
  }
}

.authorHeader {
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.authorHeader__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorHeader__wrap .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #F7BE45;
  margin-right: 26px;
}

.authorHeader__wrap .image img {
  width: 115px;
  height: 115px;
  border: 5px solid #fff;
  border-radius: 100%;
}

.authorHeader__wrap h1 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'Bebas Neue', sans-serif;
  color: #000;
  margin: 0;
  font-weight: 300;
}

@media (max-width: 767px) {
  .authorHeader {
    padding: 20px 0;
  }
  .authorHeader__wrap .image {
    width: 94px;
    height: 94px;
    margin-right: 20px;
  }
  .authorHeader__wrap .image img {
    width: 90px;
    height: 90px;
    border: 4px solid #fff;
  }
  .authorHeader__wrap h1 {
    font-size: 28px;
    line-height: 34px;
  }
}

html.no-scroll {
  overflow: hidden;
}

.main-site-outer {
  overflow: hidden;
}

.btn {
  display: inline-block;
  width: 175px;
  height: 40px;
  background-color: #f15748;
  border: 1px solid #f15748;
  box-sizing: border-box;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease .3s;
}

.btn:hover {
  background-color: #fb6659;
}

.btn span {
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  position: relative;
}

.btn span:before, .btn span:after {
  transition: ease .3s;
}

.btn--back:hover span:before {
  left: -4px;
}

.btn--back span {
  padding-left: 20px;
}

.btn--back span:before {
  content: '';
  background-image: url("../assets/images/icons/arrow_gray_left.svg");
  background-repeat: no-repeat;
  background-size: 7px;
  width: 7px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.btn--white {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.btn--white:hover {
  background-color: #f7f7f7;
}

.btn--white span {
  color: rgba(0, 0, 0, 0.7);
}

/**
 *  Promobar
 */
.promobar {
  display: block;
  height: 62px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f15748;
  z-index: 9999;
}

.promobar__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: inherit;
  max-width: 800px;
}

.promobar__wrap:before {
  content: '';
  background-image: url("/wp-content/themes/psibufet-blog/assets/images/megafon_left.svg");
  background-repeat: no-repeat;
  background-size: 84px;
  width: 84px;
  height: 59px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.promobar__wrap:after {
  content: '';
  background-image: url("/wp-content/themes/psibufet-blog/assets/images/megafon_right.svg");
  background-repeat: no-repeat;
  background-size: 84px;
  width: 84px;
  height: 59px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.promobar__wrap h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.promobar__wrap h2 .value {
  font-size: 46px;
  padding-right: 10px;
}

.promobar__wrap h2 .link {
  padding: 0 20px;
  text-decoration: underline;
  position: relative;
}

.promobar__wrap h2 .link:after {
  content: '';
  background-image: url("../assets/images/icons/arrow_white.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  width: 10px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 45%;
  transform: translate(0, -50%);
}

@media (max-width: 991px) {
  .promobar__wrap:before, .promobar__wrap:after {
    background-size: 65px;
    width: 65px;
    height: 45px;
  }
}

@media (max-width: 767px) {
  .promobar__wrap:before, .promobar__wrap:after {
    display: none;
  }
  .promobar__wrap h2 .link {
    padding-left: 10px;
  }
}

@media (max-width: 600px) {
  .promobar__wrap {
    padding: 0 20px;
  }
  .promobar__wrap h2 {
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }
  .promobar__wrap h2 .value {
    font-size: 50px;
  }
}

@media (max-width: 360px) {
  .promobar__wrap {
    padding: 0 10px;
  }
  .promobar__wrap h2 {
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }
  .promobar__wrap h2 .value {
    font-size: 40px;
  }
  .promobar__wrap h2 .link {
    padding-left: 10px;
    padding-right: 14px;
  }
  .promobar__wrap h2 .link:after {
    background-size: 7px;
    width: 7px;
    height: 10px;
  }
}
/*# sourceMappingURL=custom.css.map */