body.single-post{
    .single-header{
        .post-cat-info{
            a{
                font-size: 12px;
                line-height: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                color: #000;
            }
        }
        .entry-header{
            h1{
                font-size: 36px;
                line-height: 46px;
                font-family: 'Bebas Neue', sans-serif;
                font-weight: 400;
            }
        }
    }
    .post-content{
        font-size: 16px;
        line-height: 24px;

        #ruby-table-contents{
            display: none !important;
        }

        p,
        li,
        span{
            a{
                color: $pbred !important;
                transition: ease .3s;
    
                &:hover{
                    color: $pbredhover !important;
                }
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            color: #000;
        }
    }
}
@media (max-width: 991px){
    body.single-post{
        .post-content{
            &>p{
                font-size: 14px;
                line-height: 24px;
            }
            &>ul{
                li{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}

#dpsp-content-bottom{
    a{
        color: #fff !important;
    }
}