body.single-post{
    .single-header{
        .post-cat-info{
            a{
                font-size: 12px;
                line-height: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                color: #000;
            }
        }
        .entry-header{
            h1{
                font-size: 36px;
                line-height: 46px;
                font-family: 'Bebas Neue', sans-serif;
                font-weight: 400;
                padding: 0 10px;
            }
            .post-heading-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0 0 !important;

                .author-info{
                    display: flex;
                    align-items: center;
                    background: unset !important;
                    transition: ease .3s;

                    &:hover{
                        opacity: .8;
                    }

                    .image{
                        width: 48px;
                        height: 48px;
                        border-radius: 100%;
                        padding: 1px;
                        border: 2px solid #F7BE45;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                            border-radius: 100%;
                        }
                    }
                    .info{
                        width: 100%;
                        max-width: calc(100% - 58px);

                        p{
                            font-size: 14px;
                            line-height: 18px;
                            color: rgba(0, 0, 0, .5);
                            margin: 0;
                            text-transform: none;
                            font-weight: 400;

                            b{
                                font-weight: 700;
                            }
                        }
                    }
                }
                .post-info{
                    display: flex;
                    align-items: center;

                    .read-time{
                        display: flex;
                        align-items: center;
                        margin-right: 30px;
                        position: relative;

                        &:before{
                            content: '';
                            background-image: url('../assets/images/single/time_ico.svg');
                            background-repeat: no-repeat;
                            background-size: 32px;
                            width: 32px;
                            height: 32px;
                            position: relative;
                            display: block;
                            margin-right: 10px;
                        }

                        p{
                            font-size: 14px;
                            line-height: 18px;
                            color: rgba(0, 0, 0, .5);
                            margin: 0;
                            text-transform: none;
                            font-weight: 400;
                        }
                    }
                    .update-date{
                        display: flex;
                        align-items: center;
                        position: relative;

                        &:before{
                            content: '';
                            background-image: url('../assets/images/single/calendar_ico.svg');
                            background-repeat: no-repeat;
                            background-size: 32px;
                            width: 32px;
                            height: 32px;
                            position: relative;
                            display: block;
                            margin-right: 10px;
                        }

                        p{
                            font-size: 14px;
                            line-height: 18px;
                            color: rgba(0, 0, 0, .5);
                            margin: 0;
                            text-transform: none;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .post-content{
        font-size: 16px;
        line-height: 24px;

        #ruby-table-contents{
            display: none !important;
        }

        p,
        li,
        span{
            a{
                color: $pbred !important;
                transition: ease .3s;
    
                &:hover{
                    color: $pbredhover !important;
                }
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            color: #000;
        }
    }
}
@media (max-width: 1199px){
    body.single-post{
        .single-header{
            .entry-header{
                .post-heading-info{
                    .author-info{
                        .info{
                            p{
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }
                    .post-info{
                        .read-time,
                        .update-date{
                            p{
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px){
    body.single-post{
        .single-header{
            .entry-header{
                .post-heading-info{
                    flex-direction: column;

                    .author-info{
                        width: 100%;
                        margin: 0 0 15px;
                        justify-content: center;

                        .image{
                            width: 58px;
                            height: 58px;
                        }
                        .info{
                            width: auto;
                            max-width: none;
                        }
                    }
                    .post-info{
                        .read-time{
                            margin-right: 20px;
                        }
                        .read-time,
                        .update-date{
                            &:before{
                                background-size: 28px;
                                width: 28px;
                                height: 28px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
        .post-content{
            &>p{
                font-size: 14px;
                line-height: 24px;
            }
            &>ul{
                li{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}
@media (max-width: 767px){
    body.single-post{
        .single-header{
            .entry-header{
                .post-heading-info{
                    .author-info{
                        .info{
                            p{
                                font-size: 10px;
                                line-height: 14px;
                            }
                        }
                    }
                    .post-info{
                        .read-time,
                        .update-date{
                            p{
                                font-size: 10px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#dpsp-content-bottom{
    a{
        color: #fff !important;
    }
}

/**
 * Single USP banner
 */
.psibufet-usp-banner{
    text-align: center;
    margin-top: 36px;

    img{
        width: 100%;
        max-width: 170px;
        margin: 0 0 15px;
    }
    h3{
        font-size: 54px;
        line-height: 67px;
        font-weight: 400;
        font-family: 'Bebas Neue', sans-serif;
        color: #000;
        margin: 0 0 25px;
        text-align: center;
    }
    .usp{
        display: flex;
        justify-content: space-between;

        &__pos{
            img{
                width: 100px;
                height: 100px;
                margin: 0 0 15px;
            }
            p{
                font-size: 16px;
                line-height: 19px;
                color: #000;
                text-align: center;
                margin: 0;
            }
        }
    }
    .cta{
        margin: 30px 0 0;

        .btn{
            margin: 0 auto;
        }
    }
}
@media (max-width: 991px){
    .psibufet-usp-banner{
        img{
            max-width: 130px;
        }
        h3{
            font-size: 40px;
            line-height: 54px;
        }
        .usp{
            &__pos{
                img{
                    width: 75px;
                    height: 75px;
                }
                p{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}
@media (max-width: 767px){
    .psibufet-usp-banner{
        img{
            max-width: 70px;
            margin: 0 0 5px;
        }
        h3{
            font-size: 28px;
            line-height: 34px;
            margin: 0 0 15px;
        }
        .usp{
            max-width: 320px;
            margin: 0 auto;

            &__pos{
                &:nth-child(2),
                &:nth-child(4){
                    display: none;
                }

                img{
                    height: 75px;
                    margin: 0 0 10px;
                }
            }
        }
    }
}

/**
 *  Letter selector
 */
.letterSelector{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
    h4{
        display: block;
        font-size: 60px;
        line-height: 1;
        cursor: pointer;
        transition: ease .3s;
        width: 100%;
        max-width: calc(100% / 14);
        margin: 0 0 15px;
        text-align: center;

        &:hover{
            opacity: .7;
        }
    }
}
@media (max-width: 575px){
    .letterSelector{
        h4{
            font-size: 30px;
        }
    }
}