/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - X > 1400px
2.0 - 992px < X < 1199px
3.0 - X < 992px
4.0 - 768px < X < 992px
5.0 - X < 768px
6.0 - 480px < X < 768px
7.0 - X < 480px
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    1. X > 1400px
--------------------------------------------------------------*/
@media only screen and (min-width: 1400px) {

    .header-banner-wrap .off-canvas-btn-wrap {
        left: 100px;
    }

    .header-social-wrap {
        right: 100px;
    }

    /* post fullwidth slider */
    body:not(.is-boxed) .post-slider-fw, body:not(.is-boxed) .ruby-slider-fw.slider-init {
        height: 620px;
    }

    body:not(.is-boxed) .fw-block-slider-fw, body:not(.is-boxed) .feat-wrap .slider-wrap.is-fw-slider {
        margin-left: 100px;
        margin-right: 100px;
    }

    body:not(.is-boxed) .post-carousel, body:not(.is-boxed) .ruby-carousel.slider-init {
        height: 620px;
    }

    .post-slider-hw, .ruby-slider-hw.slider-init {
        height: 520px;
    }

    .ruby-carousel-1.slider-init {
        height: 385px;
    }

    /* post fullwidth slider 2 */
    body .post-slider-fw-2 {
        height: 740px !important;
    }

    .ruby-slider-fw-2.slider-init {
        height: 740px !important;
    }

    .p-outer-nav {
        padding: 30px 20px 36px 20px !important;
        max-width: 250px !important;
    }

    .p-outer-nav .post-thumb-outer .post-thumb img {
        max-width: 210px !important;
        height: 220px !important;
        width: 100%;
    }

    .content-overlay .post-title.is-big-title a {
        font-size: 1.3em !important;
        line-height: 1.1;
    }

}

/*--------------------------------------------------------------
    1. X > 1200px
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {

    .post-list .ruby-holder {
        min-height: 248px;
    }

    .post-grid-small-s .ruby-holder {
        min-height: 214px;
    }

    .post-grid-small .ruby-holder {
        min-height: 237px;
    }

    .fw-block .post-grid-small .ruby-holder {
        min-height: 267px;
    }

    .fw-block .post-grid-small-s .ruby-holder {
        min-height: 241px;
    }

    .sb-widget-post .post-grid-small-s .ruby-holder {
        min-height: 285px;
    }

    .sb-widget-post .post-grid-small .ruby-holder {
        min-height: 220px;
    }

    .sb-widget-post .post-overlay .ruby-holder {
        min-height: 222px;
    }

    .fw-block-slider-hw .post-grid-small-s .ruby-holder {
        min-height: 234px;
    }

    .fw-block-grid .post-classic .ruby-holder {
        min-height: 427px;
    }

    .fw-block-grid .post-grid-small-s .ruby-holder {
        min-height: 199px;
    }

    .post-grid .ruby-holder {
        min-height: 243px;
    }

    .post-overlay .ruby-holder {
        min-height: 250px;
    }

    .post-classic .ruby-holder {
        min-height: 506px;
    }

    .post-list-small .ruby-holder {
        min-height: 80px;
    }

    .hs-block .post-grid .ruby-holder {
        min-height: 248px;
    }

    .hs-block-7 .post-overlay .ruby-holder {
        min-height: 328px;
    }

    .hs-block-8 .post-classic .ruby-holder {
        min-height: 324px;
    }

    .hs-block-8 .post-grid-small-s .ruby-holder {
        min-height: 167px;
    }

    .hs-block .post-grid-small .ruby-holder {
        min-height: 237px;
    }

    .single-thumb-outer .ruby-holder {
        min-height: 300px;
    }

    .single-related-wrap .post-grid-small-s .ruby-holder {
        min-height: 213px;
    }

    .archive-page-header:not(.has-bg-image) {
        height: 100px;
    }

    /* fw slider 2 */
    body .post-slider-fw-2 {
        height: 640px;
    }

    .ruby-slider-fw-2.slider-init {
        height: 640px;
    }

    .p-outer-nav {
        right: 100px;
        top: 50%;
        -webkit-transform: translate3d(0px, -50%, 0px);
        transform: translate3d(0px, -50%, 0px);
        max-width: 330px;
    }

    .p-outer-nav {
        padding: 25px 15px 31px 15px !important;
        max-width: 210px !important;
    }

    .p-outer-nav .post-thumb-outer .post-thumb img {
        max-width: 180px !important;
        height: 190px !important;
        width: 100%;
    }

    .content-overlay .post-title.is-big-title a {
        font-size: 1em;
    }

}

@media only screen and (min-width: 1024px) {
    .post-share-bar-inner > a.icon-whatsapp,
    .single-share-bar-inner > a.icon-whatsapp {
        display: none;
    }
}

/*--------------------------------------------------------------
    2. 992px < X < 1199px
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) and (min-width: 992px) {

    .ruby-container {
        max-width: 964px !important;
    }

    .header-banner-wrap .off-canvas-btn-wrap {
        left: 20px;
    }

    .header-social-wrap {
        right: 20px;
    }

    .post-slider-fw, .ruby-slider-fw.slider-init {
        height: 480px;
    }

    .post-carousel, .ruby-carousel.slider-init {
        height: 480px;
    }

    .is-widget-post-slider .slider-init {
        height: 320px;
    }

    .ruby-slider-nav-small {
        display: none;
    }

    /* block content wrap */
    .block-content-wrap {
        margin-left: -15px;
        margin-right: -15px;
    }

    /* sidebar */
    .sidebar-wrap {
        padding-left: 40px;
    }

    .is-sidebar-left .sidebar-wrap {
        padding-right: 40px;
        padding-left: 0;
    }

    /* slider loading */
    .ruby-slider-hw-nav.slider-init {
        height: 240px;
    }

    .fw-block-video .block-header-wrap {
        margin-left: -15px;
        margin-right: -15px;
    }

    /* post wrap */
    .post-list {
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .post-grid {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 40px;
    }

    .post-classic {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        padding-bottom: 25px;
    }

    .post-classic .entry,
    .post-classic .post-excerpt {
        margin-top: 30px;
    }

    .ruby-slider-hw-nav {
        margin-top: 30px;
    }

    .ruby-slider-hw-nav .post-wrap {
        padding-left: 10px;
        padding-right: 10px;
    }

    .fw-block-grid .post-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }

    .fw-block-grid .is-right-col .post-wrap {
        margin-bottom: 30px;
    }

    .post-grid-small, .post-grid-small-s {
        margin-bottom: 40px;
    }

    .post-grid-small .post-header-inner {
        margin-left: 5px;
        margin-right: 5px;
        padding: 8px 5px;
    }

    .post-wrap.post-list .is-left-col {
        padding-right: 15px;
    }

    .post-wrap.post-list .is-right-col {
        padding-left: 15px;
    }

    /* title font */
    .post-title > * {
        font-size: .85em;
    }

    .single .post-title.single-title h1 {
        font-size: .8em;
    }

    .post-title.is-big-title > *, .single .post-title.single-title h1 {
        line-height: 1.3;
    }

    .post-title.is-medium-title > * {
        line-height: 1.4;
    }

    .post-title.is-small-title > *, .post-title.is-mini-title > * {
        font-size: .9em;
    }

    /* footer  */
    .column-footer-inner {
        margin-left: -20px;
        margin-right: -20px;
    }

    #footer .sidebar-wrap.sidebar-footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hs-block-7 .is-left-col, .hs-block-7 .is-right-col {
        padding-left: 15px;
        padding-right: 15px;
    }

    .single.is-left-margin .single-entry {
        margin-left: 0;
    }

    .archive-page-header {
        height: 120px;
    }

    .fw-block-grid-overlay .post-overlay-small .post-thumb {
        max-height: 205px;
    }

    /* fw slider 2 */
    body .post-slider-fw-2 {
        height: 540px;
    }

    .ruby-slider-fw-2.slider-init {
        height: 540px;
    }

    .p-outer-nav {
        right: 30px;
        padding: 20px 15px 25px 15px;
        max-width: 280px;
    }

    .p-outer-nav {
        right: 70px;
        top: 50%;
        -webkit-transform: translate3d(0px, -50%, 0px);
        transform: translate3d(0px, -50%, 0px);
        max-width: 170px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    .p-outer-nav .post-thumb-outer .post-thumb img {
        max-width: 150px;
        max-height: 160px;
    }

    .ruby-slider-fw-2 .post-cat-info {
        margin-bottom: 10px;
    }

    .block-fw-subscribe .subscribe-box .mc4wp-form-fields input[type="text"],
    .block-fw-subscribe .subscribe-box .mc4wp-form-fields input[type="email"] {
        margin-left: 10px !important;
        min-width: 280px !important;
        max-width: 380px !important;
    }
}

/*--------------------------------------------------------------
    3. X < 992px
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {

    .ruby-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ruby-section {
        margin-bottom: 0;
    }

    .header-logo-mobile-wrap {
        display: block;
    }

    .logo-text-mobile-wrap .logo-text, .header-style-2 .logo-text-mobile-wrap .logo-text {
        opacity: 1;
    }

    .wp-block-pullquote blockquote p {
        font-size: 18px;
    }

    .wp-block-pullquote.is-style-default {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* off canvas button */
    .header-banner-wrap {
        display: none;
    }

    .header-banner-wrap .off-canvas-btn-wrap,
    .header-banner-wrap .header-social-wrap {
        display: none !important;
    }

    .header-nav-inner .off-canvas-btn-wrap,
    .header-nav-inner .nav-search-wrap {
        display: block !important;
    }

    .fw-block-slider-fw {
        margin-left: 0;
        margin-right: 0;
    }

    .post-slider-fw, .ruby-slider-fw.slider-init {
        height: 360px;
    }

    .post-slider-hw, .ruby-slider-hw.slider-init {
        height: 360px;
    }

    .ruby-slider-hw-nav.slider-init {
        height: 180px;
    }

    .post-carousel, .ruby-carousel.slider-init {
        height: 360px;
    }

    .ruby-page-wrap {
        margin-top: 30px;
    }

    /* hide main menu */
    .main-nav-wrap, .top-bar-wrap {
        display: none !important;
    }

    .logo-image img {
        max-height: 40px;
    }

    .ruby-content-wrap {
        margin-bottom: 15px;
    }

    body:not(.page-template-page-composer) .ruby-content-wrap {
        margin-bottom: 45px;
    }

    .single-meta-info-bar .meta-info-el {
        line-height: 28px;
    }

    /* sidebar */
    .sidebar-wrap {
        padding-left: 30px;
    }

    .is-sidebar-left .sidebar-wrap {
        padding-right: 30px;
        padding-left: 0;
    }

    /* block content wrap */
    .block-content-wrap, .blog-content-wrap {
        margin-left: -10px;
        margin-right: -10px;
    }

    .ruby-block-wrap {
        margin-bottom: 45px;
    }

    .is-sidebar-left .sidebar-wrap {
        padding-right: 30px;
        padding-left: 0;
    }

    .post-cat-info {
        margin-bottom: 10px;
    }

    .post-title.is-small-title,
    .post-title.is-mini-title {
        margin-bottom: 12px;
    }

    /* post wrap */
    .post-list {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .post-grid {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    .post-grid .post-excerpt {
        margin-top: 15px;
    }

    .post-classic {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding-bottom: 15px;
    }

    .post-classic .entry,
    .post-classic .post-excerpt {
        margin-top: 20px;
    }

    .ruby-slider-hw-nav {
        margin-top: 20px;
    }

    .ruby-slider-hw-nav .post-wrap {
        padding-left: 5px;
        padding-right: 5px;
    }

    .post-grid-small, .post-grid-small-s {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 30px;
    }

    .post-grid-small .post-header-inner {
        padding: 5px;
        border-width: 1px;
    }

    .post-wrap.post-list .is-left-col {
        padding-right: 10px;
    }

    .post-wrap.post-list .is-right-col {
        padding-left: 10px;
    }

    /* title font */
    .post-title > *, .single .post-title.single-title h1 {
        font-size: .75em;
    }

    .post-title.is-big-title > * {
        line-height: 1.4;
    }

    .post-title.is-medium-title > * {
        line-height: 1.45;
    }

    .post-title.is-small-title > *, .post-title.is-mini-title > * {
        font-size: .83em;
        line-height: 1.6;
    }

    .fw-block-2 .block-content-wrap, .fw-block-3 .block-content-wrap,
    .hs-block-5 .block-content-wrap, .hs-block-6 .block-content-wrap {
        margin-left: -5px;
        margin-right: -5px;
    }

    /* footer  */
    .column-footer-inner {
        margin-left: -15px;
        margin-right: -15px;
    }

    #footer .sidebar-wrap.sidebar-footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .post-excerpt {
        margin-bottom: 15px;
    }

    .post-wrap .post-excerpt {
        font-size: 13px;
    }

    .page-numbers {
        height: 30px;
        width: 30px;
        line-height: 28px;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 13px;
    }

    .sb-widget-social-counter .counter-element-left {
        font-size: 12px;
    }

    .hs-block-7 .is-left-col, .hs-block-7 .is-right-col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hs-block-7 .is-right-col .post-wrap {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .post-widget-inner.style-1 > * {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .single.is-left-margin .single-entry {
        margin-left: 0;
    }

    .entry p {
        margin-bottom: 20px;
    }

    .widget-title.block-title {
        margin-bottom: 20px;
    }

    .widget {
        margin-bottom: 40px;
    }

    .sidebar-wrap .post-list-small img {
        max-width: 80px;
    }

    .sidebar-wrap .post-list-small .post-header {
        margin-left: 95px;
    }

    .post-overlay .post-header, .post-overlay.post-overlay-small .post-header {
        padding: 0 10px 15px 10px;
    }

    /* 4o4 page */
    .page-404-content-header {
        margin-top: 30px;
    }

    .page-404-content-wrap {
        margin-bottom: 80px;
    }

    .logo-404 h1 {
        font-size: 92px;
    }

    .page-404-content-header p {
        font-size: 15px;
    }

    .page-404-content-wrap .ruby-search input[type="text"] {
        font-size: 16px;
        line-height: 25px;
    }

    .page-404-content-wrap .ruby-search .ruby-search-submit {
        height: 51px;
        width: 51px;
        line-height: 51px;
    }

    .logo-text, h1.logo-text {
        font-size: 54px;
    }

    .site-tagline {
        font-size: 15px;
    }

    .single-tag-wrap {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .single-nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .single-related-content {
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: -30px;
    }

    .single-box {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .archive.author .single-author-wrap .author-thumb-wrap {
        width: 70px;
        margin-right: 15px;
    }

    .archive.author .single-author-wrap {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .page-author-team-wrap .single-author-wrap {
        margin-top: 20px;
        padding-top: 20px;
    }

    .author-content-wrap, .archive.author .author-content-wrap {
        margin-top: 0;
        margin-left: 90px;
    }

    .single-tag-wrap {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .single-related-wrap {
        margin-top: 30px;
    }

    .single-comment-wrap {
        padding-top: 20px;
    }

    .instagram-content-wrap, .widget-flickr-content-wrap {
        margin: -2px;
    }

    .instagram-el-holder, .flickr-el-holder {
        margin: 2px;
    }

    .post-review-info .review-info-score {
        font-size: 24px;
    }

    .pagination-wrap {
        padding-top: 30px;
    }

    /* blog layout */
    .blog-wrap.is-layout_grid_small .blog-content-wrap,
    .blog-wrap.is-layout_grid_small_s .blog-content-wrap {
        margin-left: -5px;
        margin-right: -5px;
    }

    .blog-wrap.is-layout_grid_small .post-classic-lite,
    .blog-wrap.is-layout_grid_small_s .post-classic-lite {
        margin-left: 5px;
        margin-right: 5px;
    }

    .search-page-header {
        margin-top: 30px;
    }

    .search-page-header .search-decs {
        margin-bottom: 10px;
    }

    #ruby-banner-search-form .ruby-search input[type="text"] {
        font-size: 18px;
        line-height: 26px;
        border-width: 2px;
        padding-left: 20px;
        padding-right: 66px;
    }

    #ruby-banner-search-form .ruby-search .ruby-search-submit {
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 18px;;
    }

    /* post format */
    .post-format-info {
        margin-left: -18px;
        margin-top: -18px;
        height: 36px;
        width: 36px;
        line-height: 34px;
        border-width: 1px;
        font-size: 15px;
    }

    .is-video-format i {
        margin-top: 1px;
        margin-left: 3px;
        font-size: 15px;
    }

    .post-list-small .post-format-info {
        height: 30px;
        width: 30px;
        line-height: 30px;
        border: none;
    }

    .post-list-small .post-format-info i {
        margin: 0;
        line-height: inherit;
    }

    .is-gallery-format i {
        margin-left: 0;
        font-size: 16px;
        margin-top: 0;
    }

    .post-overlay .post-format-info {
        left: auto;
        top: 10px;
        right: 10px;
        bottom: auto;
        margin: 0;
    }

    .post-widget-inner.style-2 .post-title.is-medium-title {
        font-size: 13px;
        line-height: 1.6;
    }

    .post-slider-mini .post-header-inner {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    .subscribe-wrap h3 {
        font-size: 18px;
        margin-top: 0;
    }

    .subscribe-form-wrap label {
        font-size: .9em;
    }

    blockquote {
        padding-left: 20px;
        border-width: 3px;
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .slider-wrap.is-hw-slider .post-grid-small-s .post-header {
        display: none;
    }

    .post-slider-hw .post-header, .post-slider-fw .post-header, .post-carousel .post-header {
        margin-bottom: 45px;
    }

    .post-classic .post-thumb-outer {
        margin-bottom: 25px;
    }

    .fw-block-slider-hw.ruby-block-wrap {
        margin-bottom: 30px;
    }

    .fw-block-grid.ruby-block-wrap {
        margin-bottom: 15px;
    }

    .fw-block-1.ruby-block-wrap,
    .fw-block-2.ruby-block-wrap,
    .fw-block-3.ruby-block-wrap,
    .hs-block-2.ruby-block-wrap,
    .hs-block-5.ruby-block-wrap,
    .hs-block-6.ruby-block-wrap {
        margin-bottom: 15px;
    }

    .fw-block-4 .post-overlay .post-format-info,
    .hs-block-4 .post-overlay .post-format-info {
        top: 10px;
        right: 10px;
    }

    .single-post-outer {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    /* block video */
    .fw-block-video {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .fw-block-video .block-header-wrap {
        margin-left: 0;
        margin-right: 0;
    }

    .video-playlist-iframe {
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .video-playlist-iframe-nav-outer {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .video-playlist-iframe-nav {
        height: 280px;
        max-height: 280px;
        min-height: 280px;
    }

    .feat-grid .feat-inner {
        margin-left: -10px;
        margin-right: -10px;
    }

    .feat-wrap .slider-wrap.is-fw-slider {
        padding-left: 0;
        padding-right: 0;
    }

    .fw-block-grid .block-content-wrap {
        margin-right: -5px;
    }

    .post-list .post-meta-info {
        margin-bottom: 10px;
    }

    .archive.category .ruby-page-wrap {
        margin-top: 45px;
    }

    .post-counter {
        font-size: 60px;
    }

    .block-composer-latest-blog.layout_grid_small_s .block-content-wrap,
    .block-composer-latest-blog.layout_grid_small .block-content-wrap {
        margin-left: -5px;
        margin-right: -5px;
    }

    .archive-page-header {
        height: 105px;
    }

    .author-team-page-title {
        margin-bottom: 45px;
    }

    .author-team-page-title h1 {
        font-size: 24px;
    }

    .post-widget-inner.style-6,
    .post-widget-inner.style-7 {
        margin-left: -5px;
        margin-right: -5px;
    }

    .single-meta-info-bar .meta-info-el:before {
        margin-left: 3px;
        margin-right: 3px;
    }

    .single-meta-info-bar .share-bar-el i {
        font-size: 13px;
        height: 28px;
        width: 28px;
        line-height: 28px;
    }

    .single-meta-info-bar .share-bar-total {
        line-height: 28px;
    }

    .single-meta-info-bar .meta-info-author-thumb {
        margin-right: 5px;
    }

    .single-meta-info-bar .meta-info-decs {
        display: none;
    }

    .single-meta-info-bar .meta-info-author-thumb img {
        width: 32px;
        height: 32px;
    }

    .single-share-bar {
        margin-top: 2px;
    }

    .single-share-bar-total.share-bar-total {
        font-size: 11px;
        margin-right: 5px;
    }

    .ruby-gallery-slider.slider-init {
        height: 320px;
    }

    .post-review-score {
        height: 38px;
        width: 38px;
        font-size: 15px;
        line-height: 38px;
    }

    .post-share-bar-inner {
        height: 28px;
        width: 28px;
    }

    .post-share-bar-inner:before {
        font-size: 12px;
        width: 28px;
        line-height: 27px;
    }

    .post-share-bar .share-bar-el i {
        font-size: 13px;
        height: 28px;
        width: 28px;
    }

    .share-bar-total {
        margin-left: 7px;
        line-height: 28px;
    }

    .post-share-bar-inner .share-bar-el:nth-child(1) {
        -webkit-transform: translate3d(28px, 0, 0);
        -moz-transform: translate3d(28px, 0, 0);
        -ms-transform: translate3d(28px, 0, 0);
        -o-transform: translate3d(28px, 0, 0);
        transform: translate3d(28px, 0, 0);
    }

    .post-share-bar-inner .share-bar-el:nth-child(2) {

        -webkit-transform: translate3d(28px, 0, 0);
        -moz-transform: translate3d(28px, 0, 0);
        -ms-transform: translate3d(28px, 0, 0);
        -o-transform: translate3d(28px, 0, 0);
        transform: translate3d(28px, 0, 0);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(2) {
        -webkit-transform: translateX(60px);
        -moz-transform: translateX(60px);
        -ms-transform: translateX(60px);
        -o-transform: translateX(60px);
        transform: translateX(60px);
    }

    .post-share-bar-inner .share-bar-el:nth-child(3) {
        -webkit-transform: translateX(60px);
        -moz-transform: translateX(60px);
        -ms-transform: translateX(60px);
        -o-transform: translateX(60px);
        transform: translateX(60px);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(3) {
        -webkit-transform: translateX(92px);
        -moz-transform: translateX(92px);
        -ms-transform: translateX(92px);
        -o-transform: translateX(92px);
        transform: translateX(92px);
    }

    .post-share-bar-inner .share-bar-el:nth-child(4) {
        -webkit-transform: translateX(92px);
        -moz-transform: translateX(92px);
        -ms-transform: translateX(92px);
        -o-transform: translateX(92px);
        transform: translateX(92px);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(4) {
        -webkit-transform: translateX(124px);
        -moz-transform: translateX(124px);
        -ms-transform: translateX(124px);
        -o-transform: translateX(124px);
        transform: translateX(124px);
    }

    .post-share-bar-inner .share-bar-el:nth-child(5) {
        -webkit-transform: translateX(124px);
        -moz-transform: translateX(124px);
        -ms-transform: translateX(124px);
        -o-transform: translateX(124px);
        transform: translateX(124px);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(5) {
        -webkit-transform: translateX(156px);
        -moz-transform: translateX(156px);
        -ms-transform: translateX(156px);
        -o-transform: translateX(156px);
        transform: translateX(156px);
    }

    .post-share-bar-inner .share-bar-el:nth-child(6) {
        -webkit-transform: translateX(156px);
        -moz-transform: translateX(156px);
        -ms-transform: translateX(156px);
        -o-transform: translateX(156px);
        transform: translateX(156px);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(6) {
        -webkit-transform: translateX(188px);
        -moz-transform: translateX(188px);
        -ms-transform: translateX(188px);
        -o-transform: translateX(188px);
        transform: translateX(188px);
    }

    .post-share-bar-inner .share-bar-el:nth-child(7) {
        -webkit-transform: translateX(188px);
        -moz-transform: translateX(188px);
        -ms-transform: translateX(188px);
        -o-transform: translateX(188px);
        transform: translateX(188px);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(7) {
        -webkit-transform: translateX(220px);
        -moz-transform: translateX(220px);
        -ms-transform: translateX(220px);
        -o-transform: translateX(220px);
        transform: translateX(220px);
    }

    .post-share-bar-inner .share-bar-el:nth-child(8) {
        -webkit-transform: translateX(220px);
        -moz-transform: translateX(220px);
        -ms-transform: translateX(220px);
        -o-transform: translateX(220px);
        transform: translateX(220px);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(8) {
        -webkit-transform: translateX(252px);
        -moz-transform: translateX(252px);
        -ms-transform: translateX(252px);
        -o-transform: translateX(252px);
        transform: translateX(252px);
    }

    .post-share-bar-inner .share-bar-el:nth-child(9) {
        -webkit-transform: translateX(252px);
        -moz-transform: translateX(252px);
        -ms-transform: translateX(252px);
        -o-transform: translateX(252px);
        transform: translateX(252px);
    }

    .post-share-bar-inner:hover .share-bar-el:nth-child(9) {
        -webkit-transform: translateX(284px);
        -moz-transform: translateX(284px);
        -ms-transform: translateX(284px);
        -o-transform: translateX(284px);
        transform: translateX(284px);
    }

    .search-no-result {
        margin-top: 30px;
    }

    .search-no-result-content .search-no-result h3 {
        font-size: 32px;
        line-height: 1.2;
        text-transform: capitalize;
    }

    .single .review-box-wrap.is-left-top {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .review-box-wrap .review-summary-wrap h3 {
        margin: 10px 0;
    }

    .review-el {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .review-title.block-title {
        margin-bottom: 20px;
    }

    .comment-list.entry {
        margin-right: 0;
    }

    .comment-list .comment-author img {
        margin-right: 15px;
        width: 60px;
    }

    .comment-list .comment-content, .comment-metadata {
        margin-left: 75px;
    }

    .comments-area ol.children {
        margin: 0 0 15px 15px;
    }

    /* header style 2 */
    .header-style-2 .header-logo-wrap {
        display: none;
    }

    /* post carousel 1 */
    .post-carousel-1 {
        padding-bottom: 50px;
    }

    .post-carousel-1 .post-header {
        min-height: 100px;
    }

    .ruby-carousel-1.slider-init {
        height: 397px;
    }

    .header-style-2 .nav-search-outer {
        display: none !important;
    }

    .fw-block-grid-overlay .post-overlay-small .post-thumb {
        max-height: 157px;
    }

    /* fw slider 2 */
    body .post-slider-fw-2 {
        height: 480px;
    }

    .ruby-slider-fw-2.slider-init {
        height: 480px;
    }

    .p-outer-nav {
        right: 70px;
        top: 50%;
        -webkit-transform: translate3d(0px, -50%, 0px);
        transform: translate3d(0px, -50%, 0px);
        max-width: 170px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    .p-outer-nav {
        right: 30px;
        padding: 25px 10px 30px 10px;
        max-width: 160px;
    }

    .p-outer-nav .post-thumb-outer .post-thumb img {
        max-width: 140px;
        max-height: 150px;
    }

    .fw-block-slider-fw-2 .ruby-slider-nav.slick-arrow {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

    .fw-block-slider-fw-2 .post-title.is-small-title > * {
        font-size: .75em;
        line-height: 1.5;
    }

    .fw-block-slider-fw-2 ul.slick-dots {
        display: none !important;
    }

    .ruby-slider-fw-2 .post-cat-info {
        margin-bottom: 10px;
    }

    .content-overlay .post-header {
        max-width: 55%;
        width: 55%;
    }

    .subscribe-box {
        flex-flow: row wrap;
    }

    .subscribe-box .subscribe-content {
        margin-bottom: 30px;
        padding-right: 0;
        width: 100%;
        text-align: center;
        flex: 0 0 100%;
    }

    .subscribe-box .subscribe-form {
        width: 100%;
        flex: 0 0 100%;
    }

}

@media only screen and (min-width: 768px) {

    .rb-table-contents.table-left {
        float: left;
        min-width: 340px;
        max-width: 50%;
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 25px;
    }

    .block-fw-subscribe .subscribe-box .mc4wp-form-fields {
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        flex-grow: 0;
        align-items: center;
        justify-content: flex-end;
    }

    .block-fw-subscribe .subscribe-box .mc4wp-form-fields input[type="text"],
    .block-fw-subscribe .subscribe-box .mc4wp-form-fields input[type="email"] {
        margin-left: 10px;
        min-width: 320px;
        max-width: 460px;
    }

    .block-fw-subscribe .subscribe-box .subscribe-form input[type="submit"] {
        position: absolute;
        top: 1px;
        right: 1px;
        z-index: 100;
        display: block;
        padding: 0;
        width: 60px;
        height: 44px;
        background-color: #fff;
        text-indent: -9999px;
    }

}

/*--------------------------------------------------------------
    4. 768px < X < 992px
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* container */
    .ruby-container {
        max-width: 740px !important;
    }

    .post-list-small .post-thumb-outer {
        margin-right: 10px;
    }

    .sidebar-wrap .post-list-small img {
        max-width: 60px;
    }

    .sidebar-wrap .post-list-small .post-header {
        margin-left: 70px;
    }

    .block-fw-subscribe .subscribe-box {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*--------------------------------------------------------------
    5. X < 768px
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

    /* container */
    .ruby-container {
        max-width: 100% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .ruby-page-wrap {
        margin-top: 20px;
    }

    .sidebar-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .post-slider-fw, .ruby-slider-fw.slider-init {
        height: 280px;
    }

    .post-slider-hw, .ruby-slider-hw.slider-init {
        height: 300px;
    }

    .ruby-slider-hw-nav.slider-init {
        height: 105px;
    }

    .post-carousel, .ruby-carousel.slider-init {
        height: 280px;
    }

    textarea, textarea:hover, textarea:focus {
        font-size: 13px;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"] {
        font-size: 13px !important;
    }

    input#comment-submit {
        padding: 7px 10px;
    }

    .logo-image img {
        max-height: 50px;
    }

    /* single hide sidebar */
    .single.is-hide-sidebar .sidebar-wrap {
        display: none;
    }

    .single-meta-info-bar .meta-info-el {
        line-height: 24px;
    }

    /* block */
    .post-excerpt {
        display: none;
    }

    .hs-block-7 .is-right-col {
        margin-top: 20px;
    }

    .hs-block-5 .is-divider, .hs-block-6 .is-divider {
        display: none;
    }

    .hs-block-5 .block-content-wrap > *:nth-child(3n+1),
    .hs-block-6 .block-content-wrap > *:nth-child(3n+1) {
        clear: none;
    }

    .fw-block-2 .block-content-wrap > *:nth-child(2n+1),
    .fw-block-3 .block-content-wrap > *:nth-child(2n+1),
    .hs-block-5 .block-content-wrap > *:nth-child(2n+1),
    .hs-block-6 .block-content-wrap > *:nth-child(2n+1) {
        clear: both;
    }

    .post-title.is-big-title > * {
        font-size: .7em;
    }

    .post-title > *, .single .post-title.single-title h1 {
        font-size: .73em;
    }

    .logo-404 h1 {
        font-size: 72px;
    }

    .page-404-content-header p {
        margin-bottom: 25px;
    }

    .page-404-content-wrap .ruby-search input[type="text"] {
        font-size: 14px;
        border-width: 2px;
        padding: 10px 50px 10px 15px;
    }

    .page-404-content-wrap .ruby-search .ruby-search-submit {
        height: 49px;
        width: 49px;
        line-height: 49px;
    }

    .post-grid-small .post-header-inner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .page-404-content-wrap {
        margin-bottom: 60px;
    }

    .logo-text, h1.logo-text  {
        font-size: 42px;
    }

    .site-tagline {
        font-size: 13px;
        margin-top: 5px;
    }

    .header-social-wrap a {
        font-size: 15px;
    }

    .meta-info-decs, .share-bar-total-text {
        display: none;
    }

    .meta-info-author-thumb img {
        height: 28px;
    }

    .single-meta-info-bar .post-meta-info {
        line-height: 32px;
    }

    .single-share-bar-inner .share-bar-el i {
        height: 28px;
        width: 28px;
        line-height: 28px;
        font-size: 12px;
    }

    .entry {
        font-size: .9em;
    }

    .single-related-content > *:nth-child(3n+1) {
        clear: none;
    }

    .single-related-content > *:nth-child(2n+1) {
        clear: both;
    }

    .single-nav .nav-left {
        border-right: none;
        padding-right: 0;
    }

    .single-nav .nav-right {
        border-left: none;
        padding-left: 0;
    }

    .review-summary-wrap {
        font-size: .85em;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    .single-nav > * {
        text-align: center !important;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #f2f2f2;
    }

    .single-nav > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }

    .single-author-wrap {
        text-align: center;
    }

    .single-author-wrap .author-thumb-wrap, .archive.author .single-author-wrap .author-thumb-wrap {
        width: 85px;
        float: none;
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: auto;
        text-align: center;
        overflow: hidden;
    }

    .author-content-wrap, .page-author-team-wrap .author-content-wrap,
    .archive.author .author-content-wrap {
        margin-left: 0;
    }

    .single-comment-wrap .entry {
        font-size: inherit;
    }

    .comment-form p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .comment-form input, .comment-form textarea {
        margin-bottom: 15px;
    }

    .archive-page-header {
        height: 90px;
        margin-bottom: 10px;
    }

    .pagination-wrap {
        padding-top: 30px;
    }

    .archive-title-wrap .archive-title {
        font-size: 18px;
    }

    /* blog layout */
    .content-with-sidebar .blog-content-inner > *:nth-child(3n+1),
    .content-without-sidebar .blog-content-inner > *:nth-child(4n+1) {
        clear: none;
    }

    .content-with-sidebar .blog-content-inner > *:nth-child(2n+1),
    .content-without-sidebar .blog-content-inner > *:nth-child(2n+1) {
        clear: both;
    }

    .off-canvas-btn {
        height: 42px;
        width: 42px;
    }

    .off-canvas-btn .ruby-trigger {
        height: 20px;
        width: 20px;
        left: 11px;
        margin-top: -10px;
    }

    #ruby-banner-search-form .ruby-search input[type="text"] {
        font-size: 15px;
        line-height: 20px;
        border-width: 1px;
        padding-left: 15px;
        padding-right: 57px;
    }

    #ruby-banner-search-form .ruby-search .ruby-search-submit {
        height: 42px;
        width: 42px;
        line-height: 42px;
        font-size: 15px;;
    }

    .header-nav-inner .off-canvas-btn {
        display: block !important;
    }

    .header-banner-wrap {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .post-widget-inner.style-2 .post-title.is-medium-title {
        font-size: 14px;
        line-height: 1.6;
    }

    .post-slider-hw .post-header, .post-slider-fw .post-header, .post-carousel .post-header {
        margin-bottom: 35px;
    }

    .post-classic .post-thumb-outer {
        margin-bottom: 20px;
    }

    .fw-block-grid .post-classic-lite.post-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .ruby-slider-nav {
        height: 50px;
        width: 55px;
        margin-top: -25px;
    }

    .ruby-block-wrap {
        margin-bottom: 35px;
    }

    .fw-block-slider-hw.ruby-block-wrap {
        margin-bottom: 20px;
    }

    .fw-block-grid.ruby-block-wrap {
        margin-bottom: 5px;
    }

    .fw-block-1.ruby-block-wrap,
    .fw-block-2.ruby-block-wrap,
    .fw-block-3.ruby-block-wrap,
    .hs-block-2.ruby-block-wrap,
    .hs-block-5.ruby-block-wrap,
    .hs-block-6.ruby-block-wrap {
        margin-bottom: 5px;
    }

    .hs-block-8 .is-right-col {
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 30px;
    }

    .single-thumb-outer {
        margin-bottom: 25px;
    }

    .single .post-title.single-title {
        margin-bottom: 20px;
    }

    .entry {
        margin-top: 30px;
    }

    .footer-social-bar-inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-logo {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .social-link-info.footer-social-wrap {
        position: relative;
        left: auto;
        right: auto;
        margin: auto;
        display: block;
        text-align: center;
    }

    .social-link-info.footer-social-wrap a {
        display: inline-block;
        float: none;
        height: 34px;
        width: 34px;
        line-height: 34px;
        font-size: 15px;
    }

    /* block video */
    .fw-block-video {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .entry .wpcf7-form input[type = "email"], .entry .wpcf7-form input[type = "text"] {
        width: 100%;
    }

    .post-review-score {
        height: 32px;
        width: 32px;
        line-height: 32px;
        font-size: 15px;
    }

    .promo-el {
        margin-bottom: 10px;
    }

    .promo-el:last-child {
        margin-bottom: 10px;
    }

    .feat-grid .feat-inner {
        margin-left: -5px;
        margin-right: -5px;
    }

    .feat-grid .post-classic-lite {
        margin-left: 5px;
        margin-right: 5px;
    }

    .fw-block-carousel .post-wrap, .feat-carousel .post-wrap {
        margin-left: 2px;
        margin-right: 2px;
    }

    .fw-block-grid .post-classic-lite {
        margin-left: 5px;
        margin-right: 5px;
    }

    .fw-block-grid .block-content-wrap {
        margin-left: -5px;
        margin-right: -5px;
    }

    .archive.category .ruby-page-wrap {
        margin-top: 30px;
    }

    .author-team-page-title {
        margin-bottom: 30px;
    }

    .author-team-page-title h1 {
        font-size: 18px;
    }

    .hs-block-8 .block-content-wrap {
        margin-right: -10px;
    }

    .video-playlist-iframe-nav-outer {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .video-playlist-iframe-nav .post-list-small {
        margin-bottom: 25px;
    }

    .block-ad-box {
        margin-top: -10px;
    }

    .ruby-gallery-slider.slider-init {
        height: 430px;
    }

    .post-widget-inner.style-6 .post-title.is-mini-title > * {
        font-size: 1em;
        line-height: 1.5;
    }

    .post-widget-inner.style-6 .post-grid-small .post-header-inner {
        padding: 15px;
    }

    .search-no-result {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .search-no-result-content {
        margin-left: 0;
        margin-right: 0;
    }

    .search-no-result-content .search-no-result h3 {
        font-size: 24px;
        line-height: 1.2;
        text-transform: capitalize;
    }

    .search-no-result-content p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .search-no-result-content {
        margin-bottom: 60px;
    }

    .single .review-box-wrap.is-left-top {
        padding: 15px 10px;
    }

    .comment-list .comment-author img {
        margin-right: 15px;
        width: 42px;
    }

    .comment-metadata {
        margin-left: 45px;
    }

    .comment-list .comment-content {
        margin-left: 0;
        margin-top: 15px;
    }

    .comments-area ol.children {
        margin: 0 0 15px 15px;
    }

    .post-carousel-1 {
        padding-bottom: 0;
    }

    .post-carousel-1 .post-header {
        min-height: auto;
        position: relative;
        left: auto;
        margin-top: -1px;
        right: auto;
        padding-bottom: 1px;
    }

    .ruby-carousel-1.slider-init {
        height: 370px;
    }

    .ruby-slider-hw-nav {
        margin-top: 10px;
    }

    .comment-respond #commentform > * {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .comment-form .comment-form-comment {
        margin-left: 0;
        margin-right: 0;
    }

    .comment-form .comment-form-cookies-consent label {
        margin-left: 0;
        margin-bottom: 25px;
    }

    /* fw slider 2 */
    body .post-slider-fw-2 {
        height: 330px;
    }

    .ruby-slider-fw-2.slider-init {
        height: 462px;
    }

    .p-outer-nav {
        padding: 0;
        max-width: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        position: relative;
        right: auto;
        left: auto;
        bottom: auto;
        top: auto;
        display: flex;
        display: -webkit-flex;
        background-color: #111;
        align-items: stretch;
        margin-top: 0;
        transform: none;
        transform: none;
    }

    .p-outer-nav .post-thumb-outer .post-thumb img {
        max-width: 130px;
        max-height: 130px;
        width: 100%;
        height: auto;
    }

    .fw-block-slider-fw-2 .ruby-slider-nav.slick-arrow {
        display: none !important;
    }

    .fw-block-slider-fw-2 .post-title.is-small-title > * {
        font-size: .85em;
        line-height: 1.6;
    }

    .fw-block-slider-fw-2 ul.slick-dots {
        display: none !important;
    }

    .ruby-slider-fw-2 .post-cat-info {
        margin-bottom: 10px;
    }

    .ruby-slider-fw-2 .p-outer-nav .post-cat-info {
        display: block;
    }

    .content-overlay .post-header {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .content-overlay .post-header .post-meta-info {
        display: none;
    }

    .p-outer-nav .post-wrap {
        display: flex;
        display: -webkit-flex;
        flex: 1;
        align-items: center;
        flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse
    }

    .p-outer-nav .post-header {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        height: auto;
        justify-content: center;
        flex-grow: 1;
        padding-left: 15px;
        padding-right: 15px;
    }

    .p-outer-nav .post-header .post-cat-info a,
    .p-outer-nav .post-header .post-title {
        color: #ffffff;
    }

    .p-outer-nav .post-thumb-outer {
        display: flex;
        display: -webkit-flex;
        width: 130px;
        flex-shrink: 0;
    }

    .block-fw-subscribe .subscribe-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .subscribe-box .mc4wp-form-fields input:first-child {
        margin-top: 0;
    }

    .subscribe-box .mc4wp-form-fields input {
        margin-top: 10px;
    }

    .block-fw-subscribe .subscribe-box .mc4wp-form-fields input[type="submit"] + i {
        display: none;
    }

    .subscribe-box .subscribe-form input[type="submit"] {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin-right: auto;
        margin-left: auto;
        padding: 9px 46px;
        width: auto;
        text-indent: 0;
    }

    .block-fw-subscribe .subscribe-content h3.subscribe-title {
        margin-bottom: 5px;
        font-size: 22px;
    }

    .block-fw-subscribe .subscribe-description {
        font-size: 11px;
        margin-top: 5px;
    }

}

/*--------------------------------------------------------------
    6. 480px < X < 768px
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) and (min-width: 480px) {

    .ruby-container {
        max-width: 452px !important;
    }
}

/*--------------------------------------------------------------
    7. X < 480px
--------------------------------------------------------------*/
@media only screen and (max-width: 479px) {

    .post-slider-fw, .ruby-slider-fw.slider-init {
        height: 220px;
    }

    .post-carousel, .ruby-carousel.slider-init {
        height: 220px;
    }

    #ruby-banner-search-form .banner-search-form-inner {
        padding-left: 5px;
        padding-right: 5px;
    }

    .post-grid-small .post-header-inner {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo-image img {
        max-height: 28px;
    }

    .header-ads-wrap {
        padding: 10px 10px 0 10px;
    }

    .post-slider.post-carousel .post-title a,
    .post-slider.post-slider-hw .post-title a,
    .post-slider.post-slider-fw .post-title a {
        font-size: 18px;
        line-height: 1.25;
    }

    .post-wrap.post-list .is-right-col {
        padding-left: 5px;
    }

    .archive-page-header {
        height: 60px;
        margin-bottom: 5px;
    }

    .archive-title-wrap .archive-title {
        font-size: 15px;
    }

    .post-list .post-format-info {
        border: none;
        background-color: transparent;
    }

    .single-meta-info-bar .meta-info-author-thumb {
        visibility: visible;
        opacity: 0;
        height: 26px;
        width: 0;
        margin-right: 0;
    }

    .single-meta-info-bar .post-meta-info {
        line-height: 26px;
    }

    .single-share-bar {
        margin-top: 0;
    }

    .single-share-bar-inner .share-bar-el i {
        height: 26px;
        width: 26px;
        line-height: 26px;
        font-size: 12px;
    }

    .single-meta-info-bar .meta-info-el:before {
        margin-left: 0;
        margin-right: 0;
    }

    .ruby-gallery-slider.slider-init {
        height: 200px;
    }

    .ruby-page-wrap {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    body.admin-bar .ruby-is-stick .header-nav-inner, .admin-bar .off-canvas-wrap {
        top: 0 !important;
    }
}